<!--Author: Nils Mooldijk-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/stylesheets/cardtest.css}" rel="stylesheet" type="text/css"/>
    <title>Title</title>
</head>
<body>
<div class="main-container">
    <div class="cards">
        <div class="card card-1" id="card1">
            <div class="card__title" th:text="${title}"></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <p class="card__description" id="card1_closed" th:text="${shortDescription}">
            <p class="card__apply">
<!--                <a class="card__link" href="#cardinfo1">Expand<i class="fas fa-arrow-right"></i></a>-->
                <button class="card__link" id="expand_button" onclick="showcard('card1_open', 'card1_closed')">Show more</button>
            </p>
            <div class="card__expanded card-1" id="card1_open" style="display:none">
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <p class="card__description" th:text="${longDescription}">
<!--                <p class="card__apply">-->
<!--                    <button class="card__link" onclick="showcard('card1_open', 'card1_closed')">Collapse</button>-->
            </div>
        </div>
        <div class="card card-2" id="card2">
            <div class="card__title" th:text="${title}"></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <p class="card__description" id="card2_closed" th:text="${shorDescription}">
            <p class="card__apply">
                <!--                <a class="card__link" href="#cardinfo1">Expand<i class="fas fa-arrow-right"></i></a>-->
                <button class="card__link" id="expand_button" onclick="showcard('card2_open', 'card2_closed')">Show more</button>
            </p>
            <div class="card__expanded card-2" id="card2_open" style="display:none">
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <p class="card__description" th:text="${longDescription}">
                    <!--                <p class="card__apply">-->
                    <!--                    <button class="card__link" onclick="showcard('card1_open', 'card1_closed')">Collapse</button>-->
            </div>
        </div>
        <div class="card card-3" id="card3">
            <div class="card__title" th:text="${title}"></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <p class="card__description" id="card3_closed" th:text="${shortDescription}">
            <p class="card__apply">
                <!--                <a class="card__link" href="#cardinfo1">Expand<i class="fas fa-arrow-right"></i></a>-->
                <button class="card__link" id="expand_button" onclick="showcard('card3_open', 'card3_closed')">Show more</button>
            </p>
            <div class="card__expanded card-3" id="card3_open" style="display:none">
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <p class="card__description" th:text="${longDescription}">
                    <!--                <p class="card__apply">-->
                    <!--                    <button class="card__link" onclick="showcard('card1_open', 'card1_closed')">Collapse</button>-->
            </div>
        </div>
        <div class="card card-4" id="card4">
            <div class="card__title" th:text="${title}"></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <p class="card__description" id="card4_closed" th:text="${shortDescription}">
            <p class="card__apply">
                <!--                <a class="card__link" href="#cardinfo1">Expand<i class="fas fa-arrow-right"></i></a>-->
                <button class="card__link" id="expand_button" onclick="showcard('card4_open', 'card4_closed')">Show more</button>
            </p>
            <div class="card__expanded card-4" id="card4_open" style="display:none">
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <p class="card__description" th:text="${longDescription}">
                    <!--                <p class="card__apply">-->
                    <!--                    <button class="card__link" onclick="showcard('card1_open', 'card1_closed')">Collapse</button>-->
            </div>
        </div>

    </div>
</div>

</body>
</html>
<script>
    function showcard(divToToggle, textToChange) {
        var x = document.getElementById(divToToggle);
        var y = document.getElementById(textToChange);
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "block";
        }
    }
</script>